@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

#fondo {
  background-color: #292b2b;
  color: white;
}

#fuenteTitulos {
  font-family: Lora;
  font-weight: bold;
  color: #1e6ce2;
  font-size: 35px;
}

#borde {
  border-left: 2px #1e6ce2 solid;
  border-radius: 10px;
}


.content {
  margin: auto;
}

.typewriter-text {
  overflow: hidden;
  position: relative;
  width: 100%;
  border-right: 2px solid #fff;
  font-size: 50px;
  white-space: nowrap;

  animation: typewriter 3s steps(44) 1s 1 normal both,
    blinkTextCursor 400ms steps(44) infinite normal;
}


#proyecto {
  width: 1000px;
  background-color: red;
  margin: 10px;
  padding: 20px;
  background-color: red;
  border-radius: 10px;
  background-color: #2e3030;
}

#proyecto h5 {
  text-align: center;
}




#download {
  width: 8%;
  margin: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}